@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

$font-path: "../fonts/FiraSans";
@font-face {
  font-family: "Fira Sans";
  src: url("#{$font-path}-Regular.eot");
  src: url("#{$font-path}-Regular.woff") format("woff"),
       url("#{$font-path}-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url("#{$font-path}-Bold.eot");
  src: url("#{$font-path}-Bold.woff") format("woff"),
       url("#{$font-path}-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url("#{$font-path}-Light.eot");
  src: url("#{$font-path}-Light.woff") format("woff"),
       url("#{$font-path}-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url("#{$font-path}-Extrabold.eot");
  src: url("#{$font-path}-Extrabold.woff") format("woff"),
       url("#{$font-path}-Extrabold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url("#{$font-path}-Heavy.eot");
  src: url("#{$font-path}-Heavy.woff") format("woff"),
       url("#{$font-path}-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url("#{$font-path}-Ultralight.eot");
  src: url("#{$font-path}-Ultralight.woff") format("woff"),
       url("#{$font-path}-Ultralight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
